# Virtual Environment
venv/
env/
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.egg-info/

# pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log